<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<div class="entertainment-content">
    <h2 class="entertainment-title">Entertainment</h2>
    <p class="entertainment-body">
        Most people visit Taniti to enjoy its <strong>stunning beaches</strong>, explore the <strong>lush rainforest</strong>, and marvel at the <strong>active volcano</strong>. However, Taniti offers a diverse range of activities to suit every interest. These include:
    </p>
    <ul>
        <li>Exploring the local history at the <em>Museum of Tanitian History</em></li>
        <li>Embarking on <em>chartered fishing tours</em></li>
        <li>Experiencing the underwater world through <em>snorkeling adventures</em></li>
        <li><em>Zip-lining</em> through the verdant rainforest canopy</li>
        <li>Relaxing in various pubs, including a local <em>microbrewery</em></li>
        <li>Dancing the night away at a <em>trendy dance club</em></li>
        <li>Catching a movie for a laid-back evening</li>
        <li>Taking to the skies with <em>helicopter rides</em> for breathtaking views</li>
        <li>Enjoying family fun at the local <em>arcade</em></li>
        <li>Exploring <em>art galleries</em> for a touch of culture</li>
        <li>Engaging in a friendly game of <em>bowling</em></li>
    </ul>
    <p class="entertainment-body">
        Additionally, golf enthusiasts can look forward to the opening of a <strong>nine-hole golf course</strong> next year. Many of these activities are centered around <strong>Merriton Landing</strong>, a rapidly developing area on the north side of Yellow Leaf Bay.
    </p>
    <img class ="entertainment-gallery" src="../../../assets/entertainmentGallery.jpg" alt="Entertainment in Taniti">
</div>