<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<div class="transportation-content">
    <h2 class="transportation-title">Transportation</h2>
    <p class="transportation-body">
        <strong>Transportation:</strong> The majority of visitors arrive in Taniti by air, with a small number arriving aboard a cruise ship that docks in Yellow Leaf Bay once a week. The island is serviced by a small airport, equipped to handle small jets and propeller planes. Plans are currently underway to <em>expand the airport</em>, allowing for larger jets to land on Taniti within the next few years.
    </p>
    
    <p class="transportation-body">
        <strong>Ground Transportation:</strong> For local travel, <em>public buses</em> operate in Taniti City from 5 a.m. to 11 p.m. daily, while <em>private buses</em> cover other parts of the island. Taxis are readily available within Taniti City. For those preferring more independence, <em>rental cars</em> can be obtained from an agency near the airport. Additionally, bikes complete with helmets (mandatory by law) can be rented from several vendors. Taniti City's flat terrain makes it <em>highly walkable</em>, and many tourists find the area around Merriton Landing particularly pedestrian-friendly, offering a delightful exploration experience on foot.
    </p>
    <img class ="transportation-gallery" src="assets/transportationGallery.jpg" alt="Transportation">
</div>