<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<div class="questions-content">
    <h2 class="questions-title">Frequently Asked Questions</h2>
    <p class="questions-body">
        <strong>Power Outlets:</strong> The power outlets in Taniti are 120 volts, which is the same as in the United States.
    </p>
    
    <p class="questions-body">
        <strong>Alcohol Regulations:</strong> Alcohol is not permitted to be served or sold between midnight and 9:00 a.m. The legal drinking age in Taniti is 18, but enforcement of this age limit is not very strict.
    </p>
    
    <p class="questions-body">
        <strong>Language:</strong> Many younger Tanitians are fluent in English. However, in rural areas, especially among older residents, very little English is spoken.
    </p>
    
    <p class="questions-body">
        <strong>Healthcare:</strong> Taniti has one hospital and several clinics, with many multilingual staff members available.
    </p>
    
    <p class="questions-body">
        <strong>Safety:</strong> While violent crime is very rare in Taniti, an increase in tourism has led to more instances of pickpocketing and other petty crimes.
    </p>
    
    <p class="questions-body">
        <strong>National Holidays:</strong> Taniti celebrates a large number of national holidays. Visitors should note that many tourist attractions and restaurants may be closed on these days, so it's advisable to plan accordingly.
    </p>
    
    <p class="questions-body">
        <strong>Currency:</strong> The U.S. dollar is the standard currency in Taniti, but many businesses also accept euros and yen. Currency exchange is available at several banks, and most businesses accept major credit cards.
    </p>
    <img class ="questions-gallery" src="assets/questionsGallery.jpg" alt="Taniti">
</div>