<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<div class="home-content">
    <h2 class="home-title">Welcome to Taniti</h2>
    <p class="home-body">Taniti is a small, tropical island in the Pacific. While the island has an area of less than 500 square miles, the terrain is varied and includes both sandy and rocky beaches, a small but safe harbor, lush tropical rainforests, and a mountainous interior that includes a small, active volcano. Taniti has an indigenous population of about 20,000. Until a recent increase in tourism, most the Tanitian economy was dominated by fishing or agriculture.</p>
    <p class="home-body">With its vibrant and diverse landscape, has emerged as a sought-after destination for tourists seeking both adventure and tranquility. Despite its modest size of under 500 square miles, Taniti's varied terrain offers an array of natural wonders. The island's beaches are a tapestry of contrasts, ranging from stretches of soft, white sands to rugged, rocky shores that challenge the adventurous. </p>
    <p class="home-body">Our website contains all of the essential details you need to plan your next vacation at Taniti!</p>
    <img class ="home-gallery" src="assets/homeGallery.jpg" alt="Beautiful view of Taniti">
</div>