.home-content {
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    position: fixed;
    top: 18vh; /* Adjust this value based on the actual height of your header */
    left: 30vw;
    width: 40vw;
    height: 70vh;
    background-color: rgb(209, 199, 154);
    text-align: left;
    line-height: 100%;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
  }
  
  .home-content-text {
    display: inline-block;
    margin-top: 20px;
  }
  
  .home-title {
    padding: 6px;
    font-size: 54px;
    color: #000000;
    /* Add more styling as needed */
  }
  
  .home-body {
    font-size: 16px;
    padding: 6px;
    color: #000000;
    /* Add more styling as needed */
  }

  .home-gallery {
    display: block;
    width:40%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
