<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<div class="food-content">
    <h2 class="food-title">Food</h2>

    <p class="food-body">
        <strong>Restaurants:</strong> Taniti boasts a diverse culinary scene with a total of <strong>10 restaurants</strong>. Among these, five specialize in serving <em>local fish and rice</em> dishes that capture the essence of Tanitian cuisine. For those craving American flavors, there are three restaurants offering <em>American-style meals</em>. Additionally, Taniti caters to lovers of Asian flavors with two restaurants dedicated to <em>Pan-Asian cuisine</em>.
    </p>
    
    <p class="food-body">
        <strong>Grocery Stores:</strong> When it comes to grocery shopping, Taniti has plenty of options. The island is home to <strong>two supermarkets</strong> for a comprehensive shopping experience, alongside <strong>two smaller grocery stores</strong> perfect for quick and convenient purchases. Moreover, for those late-night essentials or early morning cravings, there is a <strong>convenience store</strong> that remains open <em>24 hours a day</em>.
    </p>

    <img class ="food-gallery" src="assets/foodGallery.jpg" alt="Food of Taniti">
</div>