<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<div class="lodging-content">
    <h2 class="lodging-title">Lodging</h2>
    <p class="lodging-body">
        <strong>Lodging:</strong> In Taniti, visitors can choose from a <em>wide variety of lodging options</em> that cater to different preferences and budgets. Options range from an <em>inexpensive hostel</em> for those seeking budget-friendly accommodation, to a luxurious <em>four-star resort</em> that offers top-notch amenities and services. Additionally, the island boasts numerous <em>small, family-owned hotels</em>, providing a cozy and personalized stay. The charm of Taniti is further enhanced by a growing number of <em>bed and breakfasts</em>, ideal for travelers looking for a homely and intimate experience.
    </p>
    
    <p class="lodging-body">
        Visitors can rest assured knowing that all types of lodging in Taniti are <strong>strictly regulated and regularly inspected</strong> by the Tanitian government, ensuring high standards of quality and safety for a pleasant and worry-free stay.
    </p>
    <img class ="lodging-gallery" src="../../../assets/lodgingGallery.jpg" alt="Lodging in Taniti">
</div>