<div class="nav-bar">
    <button class="nav-button" (click)="toggleButtonClass($event); onNavButtonClick('Home Content')">
        <img src="assets/home.png" alt="Nav 1">
    </button>

    <button class="nav-button" (click)="toggleButtonClass($event); onNavButtonClick('Sightseeing Content')">
        <img src="assets/binocular.png" alt="Nav 2">
    </button>

    <button class="nav-button" (click)="toggleButtonClass($event); onNavButtonClick('Entertainment Content')">
        <img src="assets/music.png" alt="Nav 3">
    </button>

    <button class="nav-button" (click)="toggleButtonClass($event); onNavButtonClick('Food Content')">
        <img src="assets/plate.png" alt="Nav 4">
    </button>

    <button class="nav-button" (click)="toggleButtonClass($event); onNavButtonClick('Lodging Content')">
        <img src="assets/bed.png" alt="Nav 5">
    </button>

    <button class="nav-button" (click)="toggleButtonClass($event); onNavButtonClick('Transportation Content')">
        <img src="assets/car.png" alt="Nav 6">
    </button>

    <button class="nav-button" (click)="toggleButtonClass($event); onNavButtonClick('General Question Content')">
        <img src="assets/question.png" alt="Nav 7">
    </button>
</div>