<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<div class="sightseeing-content">
    <h2 class="sightseeing-title">Sightseeing</h2>
    <p class="sightseeing-body">
        <strong>Taniti City</strong>, the heart of our island, is where most tourists find themselves captivated. It is renowned for its <em>distinctive native architecture</em> and the <em>pristine white, sandy beaches</em> that gracefully encircle Yellow Leaf Bay. For those seeking to explore beyond the city limits, Taniti offers a plethora of activities:
    </p>
    <ul>
        <li><em>Boat</em> or <em>bus tours</em> for a comprehensive island experience</li>
        <li>Guided <em>hikes in the rainforest</em> — a journey through our natural wonder</li>
        <li>Excursions to the <em>active volcano</em> of Taniti, for the adventurous spirits</li>
    </ul>
    <p class="sightseeing-body">
        Each activity offers a unique way to experience the charm and beauty of Taniti.
    </p>
    <img class ="sightseeing-gallery" src="../../../assets/sightseeingGallery.jpg" alt="Sights of Taniti">
</div>